@model NPLSubscriptionServiceWebApp.Models.ViewModels.TypeOfDeliveryViewModel
@{
    ViewData["Title"] = "Create";
}
<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">Type Of Delivery</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create</li>
    </ol>
</nav>

<h1>Create</h1>

<div class="card">
    <div class="card-header">

        <div class="row">
            <div class="col-12 text-right">
                <a asp-action="Index" class="btn btn-sm btn-simple m-2 animation-on-hover">  <i class="tim-icons icon-bullet-list-67"></i> Back</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        @if (Model.OutputHandler.IsErrorOccured)
        {
            <h4 class="text-danger font-weight-bold p-3">@Model.OutputHandler.Message</h4>
        }
        else if (Model.OutputHandler.Message != null)
        {
            <h4 class="text-success font-weight-bold p-3">@Model.OutputHandler.Message</h4>
        }
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-row ">

                <div class="form-group col-md-4">
                    <label>Type Of Delivery Description</label>
                    <div class="input-group">
                        <input type="text" class="form-control" asp-for="@Model.TypeOfDelivery.TypeOfDeliveryDescription" placeholder="Enter Delivery Description" required>
                        <span asp-validation-for="@Model.TypeOfDelivery.TypeOfDeliveryDescription" class="text-danger"></span>
                    </div>
                </div>
                </div>
                  <div class="form-row ">
                <div class="form-group col-md-4">
                    <label>Tick the box to activate or Deactivate </label><input class="form-check-input ml-3" asp-for="TypeOfDelivery.IsActive" />
 
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>